{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Éditer la tâche</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'tasks/styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">Gestion de Tâches</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{% url 'task_list' %}">Voir les tâches</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'task_statistics' %}">Statistiques des tâches</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'task_create' %}">Ajouter une nouvelle tâche</a></li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <h1>Éditer la tâche</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Sauvegarder</button>
        </form>
        <a href="{% url 'task_detail' pk=form.instance.pk %}" class="btn btn-secondary mt-3">Retour</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
